.wrapper{
    background-image: url('../../images/snowbird.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}