.navbar{
    background: rgba(252, 252, 252, 0) !important;
}
.navbar-brand {
    color: #000000;
}
.navbar-toggler-icon {
    order:0;
    float: left;
  }
.navbar-link {
    color: black;
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-link:hover {
    cursor: pointer;
    color: darkgray;
}